.featuredCollection {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 3rem;
  }
}
