.hero {
  background-image: url("../../images/woman.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  &__titles {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    color: white;
  }
  &__button {
    color: whitesmoke;
    font-size: 2em;
    border: 1px solid black;
    text-decoration: none;
  }
}
