@import "../../utils/Mixins.scss";

.hero {
  background-image: url("../../images/model\ \(3\).jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  height: 45vh;
  @include flexColumnCenter;
  justify-content: space-around;
  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
  }
  &__button {
    @include buttonStyle;
  }
}
