@import "../../../utils/Mixins.scss";
@import "../../../utils/Variables.scss";

.productDetails {
  display: flex;
  padding-top: 2rem;
  &__container {
    @include flexColumnCenter;
    border: 1px solid #ccc;
    box-shadow: 1px 1px $GrayishBlue;
    padding: 2rem;
  }
  &__image {
    width: 200px;
    height: 220px;
    margin: 2rem;
  }
  &__title {
    font-size: 1.2rem;
  }
  &__description {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-top: 2rem;
    text-align: center;
  }
  &__price {
    font-weight: 700;
    margin: 1.2rem;
  }
  &__button {
    @include buttonStyle;
  }
  &__button:hover {
    background-color: $White;
    color: $black;
    cursor: pointer;
    border: 1px $black solid;
  }
  &__loader {
    margin: 2rem;
    @include flexColumnCenter;
    padding: 10rem;
  }
}
