@import "../../utils/Mixins.scss";

.header {
  padding-bottom: 1.4rem;
  font-family: inherit;
  &__container {
    @include flexRowCenter;
    justify-content: space-around;
    position: fixed;
    width: 100vw;
    z-index: 1;
    height: 60px;
    background-color: white;
    opacity: 1;
    padding: 1rem;
    padding-top: 1.5rem;
    @media all and (min-width: 768px) {
      height: 100px;
    }
  }
  &__toggleNav {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    align-items: flex-start;
   z-index: 9999;
    background-color: black;
    color: white;
    padding: 2rem;
    li{
      @include listStyle;
      padding: 1rem;
      font-size: 2em;
      border-radius: 10px;
    }
    li:hover{
      background-color: white;
      color: black;
      cursor: pointer;
      border: 1px black solid;
    }
  }
  &__nav {
    margin-top: 2rem;
    padding: 0;
    @include flexRowCenter;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    &--link {
      @include listStyle;
      color: $black;
      font-weight: bold;
      font-size: 1em;

      @media all and (min-width: 768px) {
        padding-left: 2rem;
      }
    }
    &--link:hover {
      cursor: pointer;
      color: $orange;
    }
    &--logo {
      list-style: none;
      text-decoration: none;
      color: $black;
      font-weight: bold;
      width: 200px;
      @media all and (min-width: 768px) {
        font-size: 2.5rem;
      }
    }
    li {
      @media all and (min-width: 768px) {
        padding-left: 2rem;
      }
    }
    @media all and (min-width: 768px) {
      font-size: 1.5rem;
    }
  }
 
  &__icon {
    position: relative;
    font-size: 1.6em;
  }
  &__icon:hover {
    cursor: pointer;
    color: $orange;
  }
  
}

.logo {
  //  @include flexColumnCenter;

  &__img {
    width: 100px;
    @media all and (min-width: 768px) {
      width: 250px;
    }
  }
}
