@import "../../utils/Mixins.scss";

.bannerContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url("'../../../../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  @media all and (min-width: 768px) {
    height: 80vh;
  }

  &__item {
    background-color: "azure";
    color: $White;
    font-size: 1.2em;
    padding: 20px;
    font-weight: 800;
  }
  &__button {
    @include buttonStyle;
  }
}
